*
{
	padding: 0;
	margin: 0;
}

#cajasoltar
{
	float: left;
	width: 500px;
	height: 300px;
	margin: 10px;
	border:  10px solid #999999;
}
#cajaimagenes
{
	float: left;
	width: 520px;
	margin: 10px;
	border:  11px solid #999999;

}
#cajaimagenes > img {
	float: left;
	padding: 5px;
}